cmake_install.cmake
CMakeCache.txt
cmake_install.cmake_install
CMakeFiles
build
Makefile
.vscode

# Linting IDE files for c/c++ clangd
compile_commands.json
.clangd

# Glew ignore settings
glew-2.1.0/tmp
glew-2.1.0/lib
glew-2.1.0/bin
glew-2.1.0/glew.pc
!glew-2.1.0/Makefile
